# command to remove files that are already tracked
# git rm --cached "filename"

.idea/ProjectEuler.iml
.idea/MachineLearning.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/madis.xml
**__pychache__/
Misc/__pycache__/

# No need to upload my test environment python file
Test_Grounds.py